
<div class="container-profile">
  <%= button_to "Edit Password", edit_user_password_path, class: "edit-password-button"%>
    <% if current_user %>

    <% end %>
  <div class="container-friend">
    <div class="row">
      <div class="col-12 col-lg-4">
        <div class="friend-div">
        <h3 class="your-friends">Your Friends</h3>
          <div class="friend-vertical" data-controller="profilepopup">
          <% @friends.first(3).each do |friend| %>
            <div class="friend-side"><%= friend.full_name %>
                <%= link_to friend_path(friend), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                  <i class="fa-solid fa-trash" style="color: #051023;"></i>
                <% end %>
            </div>
          <% end %>
          <% if @friends.length > 3 %>
              <div class="friends-popup1 d-none" data-profilepopup-target="box">
                <% @friends.last(@friends.length-3).each do |friend| %>
                  <div class="friend-side"><%= friend.full_name %>
                    <%= link_to friend_path(friend), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                      <i class="fa-solid fa-trash" style="color: #051023;"></i>
                    <% end %>
                  </div>
                <% end %>
              </div>

              <p data-action="click->profilepopup#open">➕ ➖</p>

          <% end %>
          </div>
        </div>
      </div>
      <div class="col-12 col-lg-4">
        <div class="add-div">
        <h3>Add a Friend</h3>
        <%= render "form" %>
        </div>
      </div>

    <div class="col-12 col-lg-4">
      <h3 class="yg">Your Groups</h3>
      <div class="group-vertical" data-controller="grouppopup">
          <% @groups.first(3).each do |group| %>

              <div class="groupname">
                <h4 class="groupnameh"><%= group.name %></h4>  <%= link_to friend_path(group), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-trash" style="color: #051023;"></i>
                    <% end %>
              </div>
              <div class="group-users">
                <% group.users_groups.each do |group_user| %>
                  <div class="gu2">
                  <%= group_user.user.full_name %><%= link_to friend_path(group_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-trash" style="color: #051023;"></i>
                    <% end %>
                  </div>
              <% end %>
              </div>
              <form action="/add" method="post">
                <input type="hidden" id="group-id" name="group_id" value=<%=group.id%>>
                <input type="text" placeholder="Add an email address" name="email">
                <input type="submit" class="button gb">
              </form>

        <% end %>
      </div>
    </div>

    </div>
  </div>




  <div class="container">
  <div class="row">

    <div class="col-12 col-lg-4 pending-groups">
      <div class="pending-div" >
          <h3>Pending Requests</h3>
          <% @friend_requests.each do |request|%>
            <div><%= request.followerable.full_name %><button type="submit"><%= link_to("Accept", accept_request_path(request.followerable))%></button><button><%= link_to("Decline", friend_path(request.followerable), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" })%></button></div>
          <% end %>
      </div>
    </div>

    <div class="col-12 col-lg-8">
      <h3>Create a Group</h3>
      <%= render "groups/form" %>
    </div>



  </div>
</div>


</div>






<div class='leaf1'></div>
<div class='leaf2'></div>
<div class='leaf3'></div>
<div class='leaf4'></div>
<div class='leaf5'></div>
<div class='leaf6'></div>
<div class='leaf7'></div>
