
<div class="container-profile">
      <div>
       <h3 class="friendtext">Hi <%= current_user.full_name if user_signed_in? %> </h3>
      </div>
    <%= image_tag("logo.png", class: "imagefriend") %>
  <div class="container-friend">
    <div class="row">

    <div class="col-12 col-lg-4 ">

      <div class="pending-div" >
          <h3>Pending Requests</h3>
          <% @friend_requests.each do |request|%>
            <div><%= request.followerable.full_name %><button type="submit"><%= link_to("Accept", accept_request_path(request.followerable))%></button><button><%= link_to("Decline", friend_path(request.followerable), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" })%></button></div>
          <% end %>
          <%= button_to "Edit password", edit_user_password_path, class: "navbutton button friendly"%>
          <% if current_user %>
          <% end %>
      </div>


      </div>





    <div class="col-12 col-lg-4 scrolly">
      <h3 class="yg">Your Group's</h3>
      <div class="group-vertical" style="height: 40vh;">
          <% @groups.each do |group| %>
              <div class="friend-side">
                <h4 class="groupnameh"><%= group.name %></h4>  <%= link_to group_path(group), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-x" style="color: #183568;"></i>
                    <% end %>
              </div>
              <div class="group-vertical">
                <% group.users_groups.each do |group_user| %>
                  <div class="friend-side">
                  <%= group_user.user.full_name %><%= link_to users_group_path(group_user), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
                    <i class="fa-solid fa-x" style="color: #183568;"></i>
                    <% end %>
                  </div>
              <% end %>
              </div>
              <form action="/add" method="post">
                <input type="hidden" id="group-id" name="group_id" value=<%=group.id%>>
                <input type="text" placeholder="Add a friend" name="email">
                <input type="submit" class="button gb">
              </form>

        <% end %>
      </div>
      <%= render "groups/form" %>
    </div>

      <div class="col-12 col-lg-4 yourfriends">
        <h3 class="your-friends">Your Friends</h3>
          <div class="friend-vertical" data-controller="profilepopup">
          <% @friends.each do |friend| %>
            <div class="friend-side">
              <p class="friendnname"><%= friend.full_name %></p>
              <%= link_to friend_path(friend), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } do %>
              <i class="fa-solid fa-x" style="color: #183568;"></i>
            <% end %>
            </div>
          <% end %>
        </div>
          <%= render "form" %>
      </div>
    </div>
  </div>
  <div class="container">
  <div class="row">
  </div>
</div>


</div>






<div class='leaf1'></div>
<div class='leaf2'></div>
<div class='leaf3'></div>
<div class='leaf4'></div>
<div class='leaf5'></div>
<div class='leaf6'></div>
<div class='leaf7'></div>
