<div class='homepage'>
  <div class='homepage-left'>
    <%= image_tag "logo.png", class: "logo-home" %>
    <h1 class="h1-home">Plan your <span data-controller="typed-js" class='typed-text'></h1>
    <p class="phome">We believe that the stress of making plans shouldn’t be a barrier to spending time with those that mean the most.  Get your community on board and easily sync calendars, send invites, and plan events and enjoy your weekend.</p>
    <div class="images-home">
      <%= image_tag "1.png", class: "picshome" %>
      <%= image_tag "2.png", class: "picshome" %>
    </div>
    <button class="letsgo-button" role="button"> <%= link_to "Start making plans", @start_link %> </button>
  </div>
  <div class='homepage-right'>
    <%= image_tag "rave", class: "pic-home" %>
  </div>
  