
<%# Block 2 %>
<div class="flexbox">

  <%# Column 1 %>
  <div class="column-1">

    <%= image_tag "WE1.png", class: "logo" %>
    <h1>More time with the people that matter</h1>

    <p>We believe that the stress of making plans shouldn’t be a barrier to spending time with those that mean the most.  Get your community on board and easily sync calendars, send invites, and plan events and enjoy your weekend.</p>

      <%# Explaination images %>
      <div class="images">
        <%= image_tag "1.png", class: "pics" %>
        <%= image_tag "2.png", class: "pics" %>

      </div>

    <button class="button-56" role="button"> <%= link_to "Start making plans", @start_link %> </button>
  </div>

  <%# Column 2 %>
  <%= image_tag "Home.avif", class: "pic" %>


</div>
