<div class="container-dashboard simple-calendar">
  <div class='calendar-header'>
    <div class="calendar-heading-left">
      <h1 class='no-margin month-selector'><%= link_to t('simple_calendar.previous', default: '<'), calendar.url_for_previous_view %>
      <span class="calendar-title"><%= t('date.month_names')[start_date.month] %> <%= start_date.year %></span>
      <%= link_to t('simple_calendar.next', default: '>'), calendar.url_for_next_view %></h1>
      <p class='no-margin calendar-popup-text'>You haven't seen <span style='font-weight:1000;color:#ff5555;font-family:"Nunito";font-size:32px' class='cursor-pointer'>Trevor</span> in a while!</p>
    </div>
    <div class="flexbox calendar-heading-right">
      <button class="dashboard-button-select orange" role="button" style="background-color=$orange"> <a href="https://www.ecosia.org/search?q=test&addon=chrome&addonversion=5.1.3&method=topbar">Select Friends</a> </button>
      <button class="dashboard-button-create" role="button"> <a href="https://www.ecosia.org/search?q=test&addon=chrome&addonversion=5.1.3&method=topbar">Create event!</a> </button>
      <%#= button_to("Create event!", new_event_path, role:"button", class:"dashboard-button-select") %>
    </div>
  </div>
  <table class="table table-striped">
    <thead>
      <tr>
        <% date_range.slice(0, 7).each do |day| %>
          <th><%= t('date.abbr_day_names')[day.wday] %></th>
        <% end %>
      </tr>
    </thead>

    <tbody>
      <% date_range.each_slice(7) do |week| %>
        <tr>
          <% week.each do |day| %>
            <%= content_tag :td, class: calendar.td_classes_for(day) do %>
              <% if defined?(Haml) && respond_to?(:block_is_haml?) && block_is_haml?(passed_block) %>
                <% capture_haml(day, sorted_events.fetch(day, []), &passed_block) %>
              <% else %>
                <% passed_block.call day, sorted_events.fetch(day, []) %>
              <% end %>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
