
<form action="<%= dashboard_path %>" method="get" >
    <ul>
    <% @friends.each do |friend| %>
      <li><input
        type="checkbox"
        name="friends[<%= friend.receiver.id %>]"/>
      <label for="friends[<%= friend.receiver.id %>]" <%= friend.receiver.full_name %>> <%= friend.receiver.full_name%></label>
    <% end %>
    </li>
    </ul>
    <button type="submit" >Check their calendar!</button>
</form>
