
<form action="<%= dashboard_path %>" method="get" >
    <ul>
    <% @friends.each do |friend| %>
    <% if current_user.mutual_following_with?(friend) %>
      <li><input
        type="checkbox"
        name="friends[<%= friend.id %>]"/>
      <label for="friends[<%= friend.id %>]" <%= friend.full_name %>> <%= friend.full_name%></label>
      <% end %>
    <% end %>
    </li>
    </ul>
    <button type="submit" class="button calendar-button">Check their calendars!</button>
</form>
