<H2>Add a new event</H2>
<%= simple_form_for [event], data: { controller: 'flatpickr' } do |f| %>

  <%= f.input :start_time, as: :string, input_html: { data: { flatpickr_target: "startTime" } } %>
  <%= f.input :end_time, as: :string, input_html: { data: { flatpickr_target: "endTime" } } %>
  <%= f.input :summary, placeholder: "Type it!" %>
  <div class="overflow-names">
  <%= f.association :user, collection: current_user.followers, label_method: :full_name, label: "Friends to invite:", as: :check_boxes, item_label_class: 'create-events-labels' %>
  </div>
  <%= f.submit "Create it!", class:"purple_input" %>
<% end %>
