<%= render "/shared/navbar" %>
<%= month_calendar(events: @events) do |date, events| %>
  <%= date.strftime("%d") %>

  <% events.each do |event| %>
    <div>
      <div class="event"><%= event.summary %></div>
    </div>
  <% end %>
<% end %>

<% if current_user %>
  <h2><%= current_user.email %></h2>
  <% if current_user.avatar_url %>
    <%= image_tag(current_user.avatar_url) %>
  <% end %>
    <%= link_to "Edit Account", edit_user_registration_path %>
    <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete %>
  <% else %>
    <%= link_to "Login", new_user_session_path %>
  <% end %>
