<div class='dashboard-all' data-controller='navbar-slider popover'>
  <div class="dashboard-main-body" data-navbar-slider-target="mainbody">
    <p class='open-icon cursor-pointer hidden' data-action="click->navbar-slider#open" data-navbar-slider-target="close">&#187;</p>
    <%= month_calendar(events: @events) do |date, events| %>
      <%= date.strftime("%d") %>
      <% events.each_with_index do |event, index| %>
        <% bg_color = event.user == current_user ? @user_color : @friends_colors[index] %>
            <div class="event" data-controller='event-hover' data-event-hover-events-value='<%= @eventarray %>' style="background-color: <%= bg_color %>;" data-action='click->event-hover#show' data-event-hover-target='border' data-event-color-target='background'>
              <div class='event-username event-user-<%= event.user_id %>'><%= event.user.full_name[0..10] %></div>
              <div class='hidden' data-event-hover-target='info'>
                <div class='event-times'>Title: <%= event.summary %></div>
                <div class='event-times'>Start <i class="fa-solid fa-clock"></i>: <%= event.start_time.strftime('%H') %></div>
                <div class='event-times'>End <i class="fa-solid fa-clock"></i >: <%= event.end_time.strftime('%H') %></div>
              </div>
            </div>
      <% end %>
    <% end %>
  </div>
  <!--NAVBAR-->
  <div class="dashboard-navbar" data-navbar-slider-target="navbar">
  <p class="close-icon cursor-pointer" data-action="click->navbar-slider#close">x</p>
      <%= image_tag("logo.png",  :class => "logo-navbar") %>
    <% if current_user %>
      <h2 class="navbar-welcome"><span class="welcome">Welcome<br></span> <%= current_user.full_name.match(/[^ ]+/) %>!</h2><!-- <%= current_user.email.match(/[^@]+/) %>!</h2> -->
        <div class="google-api-buttons">
      <!--Add buttons to initiate auth sequence and sign out-->
      <button id="authorize_button" onclick="handleAuthClick()" class="navbutton button orange">Sync</button>

    </div>
        <!-- these next 3 lines are the select friends form copy and pasted, while removing the ability to actually select friends -->
        <form action="<%= dashboard_path %>" method="get" >
          <button type="submit" class="button navbutton">Clear</button>
        </form>
        <%= button_to "My Account", edit_user_registration_path, class: "navbutton button"%>
        <div class='friend-button-noti'>
        <div class='notification-icon'><p class='noti-icon'><%= @friend_requests_counter %></p></div>
        <%= button_to "My Friends", friends_path, method: :get, class: "navbutton button nav-friends-button" %>
        </div>
        <%= button_to "Logout", destroy_user_session_path, data: {turbo: "false"}, method: :delete, class: "navbutton button logout-button" %>
      <% else %>
        <%= link_to "Login", new_user_session_path %>
      <% end %>

  </div>
</div>
<!--SELECT FRIENDS DROPDOWN-->
<div hidden>
  <form action="<%= dashboard_path %>" method="get">
      <% @friends.each do |friend| %>
        <input
          type="checkbox"
          name="friends[<%= friend.id %>]"/>
        <label for="friends[<%= friend.id %>]" <%= friend.full_name %>> <%= friend.full_name%></label>
      <% end %>
      <button type="submit">Check their calendar!</button>
  </form>
</div>
<!--BACKGROUND LEAVES-->
<div class='leaf1'></div>
<div class='leaf2'></div>
<div class='leaf3'></div>
<div class='leaf4'></div>
<div class='leaf5'></div>
<div class='leaf6'></div>
<div class='leaf7'></div>

<!--JavaScript for google API-->
<%= render "javascript" %>
</div>
